// theme color
$morgan_blue: #07668F;
$morgan_orange: #EC8726;
$morgan_purple: #58497D;
$morgan_green: #0D964F;


$font_gray: #666;
$fb_blue: #2D63A6;
$highlight_yellow: #F8C73E;
$score_color: #D5620D;


// fund color
$fund_purple: #827EAE;
$fund_blue: #4386BB;


$bg_color: #EAEAEA;
