%blue_flag {
    background: url(../img/game/svg/flag.svg) no-repeat;
    width: 273px;
    height: 54px;
    background-size: 100%;
    margin: auto;
    // iphone5
    @media screen and (max-width: 374px) {}
    // iphone6
    @media screen and (min-width: 375px) and (max-width: 413px) {
        width: 300px;
        height: 59px;
    }
    // iphone6+
    @media screen and (min-width: 414px) and (max-width: 959px) {
        width: 320px;
        height: 63px;
    }
}

%blue_title {
    @include text_style(20px, 600, #FFF);
    padding-top: 2%;
    // iphone5
    @media screen and (max-width: 374px) {}
    // iphone6
    @media screen and (min-width: 375px) and (max-width: 413px) {
       padding-top: 2.5%;
    }
    // iphone6+
    @media screen and (min-width: 414px) and (max-width: 959px) {
        padding-top: 3%;
    }
}

.high {
    color: $morgan_orange;
    font-weight: bold;
}

p {
    @include text_style(14px, 400, $font_gray);
}

// btn
@mixin btn($btn_color, $hover_color) {
    a {
        background-color: $btn_color;
        @include border-radius(10px);
        display: inline-block;
        @include vm;
        @include text_style(18px, 600, #FFF);
        vertical-align: middle;
        padding: 15px 12%;
        margin: 15px 0 0 0;
        @include transition(.5s);
        &:hover {
            background-color: $hover_color;
        }
    }
}

%bebox {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

%award_bg {
    background: url(../img/game/m_bg.png) no-repeat;
    background-size: 100%;
}